/* Impostazioni generali */
body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #25a2c3;
    line-height: 1.5;
}
h2{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem 0 0 0;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
}
p{
    margin: 1rem;
    padding: 0 1.3rem;
}
/* Header */
header{
    background-color: black;
    padding: 2rem 0;
}
/* Main */
main{
    background-image: url("../images/banner.jpg");
    background-position: center center;
    padding: 2.5rem 1.5rem;
    margin-bottom: 2rem;
    background-size: contain;
}
input{
    background-color: #f04c2f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 1rem 1.3rem;
    margin: 1.4rem 0 0 0;
}
/* Article */
#foto-smussata{
    border-radius: 200px;
    margin: 1rem 0;
}
.recensioni{
    background-color: #e22d0e;
    color: white;
    margin: 4rem 0;
    padding: 3rem 1rem;
}
.recensioni h1{
    color: white;
}
blockquote{
    font-style: italic;
    padding: 1.5rem 0;
}
span{
    display: block;
    font-size: 1rem;
}
.tabs{
    margin: 1.5rem 1.5rem;
    padding: 0 0 2rem 0;
    border: 1px solid #dee1e3;
    border-radius: 0 0 5px 5px;
}
.tabs img{
    width: 100%;
}
/* Footer */
footer{
    background-color: #25a2c3;
    color: white;
    margin-top: 2rem;
    padding: 2rem 2rem;
}
footer ul{
    list-style: none;
    margin: 1.6rem 0;
}
footer i{
    margin: 0 5px 0 0;
}
footer a{
    color: white;
}
.borderbottom{
    width: 270px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-left: 15%;
}